.parent-col {
  font-family: "Roboto Slab", serif;
  color: #06113c;
}
.parent-col p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.parent-col .card-btn {
  color: #cc9544;
  background-color: #06113c;
  transition: 0.4s;
  /* width: 100%;
  display: flex; */
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
font-weight: 600;
}
.parent-col .card-btn:hover {
  color: #06113c;
  background-color: #cc9544;
}
.manage-inventory-btn {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #06113C;
  color: #CC9544;
  transition: .4s;
  width: 50%;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
}
.manage-inventory-btn:hover{
  color: #06113C;
  background-color: #CC9544;
}
